---
import { Image } from "astro:assets";



const { album } = Astro.props;
const frontmatter = album.data;
---
<div class="lg:flex">
    
    <div class="flex flex-col justify-between py-6 lg:mx-6">
      <Image
        class=" w-full w-64 h-64 rounded-lg "
        src={frontmatter.image}
        alt="{album.title}"
        width={400}
        height={400}
        quality="low"
        loading="lazy"
        transition:name={`${album.slug}-image`}
      /> 
      <a
      href={`/albums/${album.slug}`}
        class="text-lg hover:underline text-white text-center my-3"
      >
        {frontmatter.title}
      </a>

      <span class="text-sm text-gray-300">
        
      </span>
    </div>
  </div>